:root {
  --color-primary: rgb(255, 116, 26);
  --color-secondary: rgb(16, 19, 24);
  --color-050: rgb(255, 255, 255);
  --color-100: rgb(252, 252, 252);
  --color-200: rgb(243, 243, 243);
  --color-300: rgb(221, 221, 221);
  --color-400: rgb(102, 102, 102);
  --color-500: rgb(34, 34, 34);
  --color-white-opa80: rgba(255,255,255,.8);
  --color-white-opa60: rgba(255,255,255,.6);
  --color-white-opa30: rgba(255,255,255,.3);
  --color-black-opa80: rgba(34,34,34,.8);
  --color-black-opa60: rgba(34,34,34,.6);


  --filter-primary: invert(47%) sepia(99%) saturate(1132%) hue-rotate(346deg) brightness(100%) contrast(104%);
  --filter-grey: invert(83%) sepia(2%) saturate(4%) hue-rotate(334deg) brightness(83%) contrast(89%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
}

/* font-size -> 8px */
/* @media (max-width: 600px) {
  html {
    font-size: 50%;
  }
} */