:root {
  --color-primary: #ff741a;
  --color-black: #222222;
  --color-white: rgb(255,255,255);
  --color-grey: rgb(102, 102, 102);
  --color-grey-dark: rgb(51,51,51);
  --color-grey-light: rgb(170, 170, 170);
  --color-grey-light-2: rgb(221, 221, 221);
  --color-grey-light-3: rgb(246, 246, 246);
  --color-drop-menu: rgb(62, 56, 77);
  --filter-primary: invert(47%) sepia(99%) saturate(1132%) hue-rotate(346deg) brightness(100%) contrast(104%);
  --filter-grey: invert(83%) sepia(2%) saturate(4%) hue-rotate(334deg) brightness(83%) contrast(89%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
}

/* font-size -> 8px */
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}